body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: aqua;
}
.header img{
  height: 60px;
  padding: 18px;
  
}
.header{
  background-color: #F39C12;
}
p{
  position: absolute;
  bottom: 0px;
  text-align: center;
  justify-content: center;
 padding-left: 750px;
}